dash==2.16.0
dash_ag_grid==31.0.1
dash_bootstrap_components==1.5.0
dash_echarts==0.0.12.9
dash_mantine_components==0.12.1
dash_tvlwc==0.1.1
hurst==0.0.5
matplotlib==3.8.0
numpy==1.26.4
oandapyV20==0.7.2
oandapyV20==0.7.2
pandas==2.2.1
plotly==5.19.0
ta==0.11.0
yfinance==0.2.31
