dash==2.16.0
dash_ag_grid==31.0.1
dash_iconify==0.1.2
dash_mantine_components==0.12.1
dash_tvlwc==0.1.1
hurst==0.0.5
numpy==1.26.4
oandapyV20==0.7.2
oandapyV20==0.7.2
pandas==2.2.2
plotly==5.19.0
python_dateutil==2.8.2
ta==0.11.0
